# Java / Maven
target/
*.class
*.jar
*.war
*.ear
*.log

# Eclipse
.classpath
.project
.settings/

# IntelliJ IDEA
.idea/
*.iml
*.iws

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
.pytest_cache/
.coverage
htmlcov/

# Node.js / Angular
node_modules/
dist/

# OS specific
.DS_Store
Thumbs.db

# Flow Studio specific
config-repo/
